snippet rcc "react skeleton" b
import React, { Component } from 'react'

class ${1:ClassComponent} extends Component {
	render() {
		return (
				<${2:div}>
				$3
				</{div}>
			   )
	}
}
endsnippet
